.error-module-div{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #A9B972;
    box-shadow:  5px 5px 10px #909d61, 
             -5px -5px 10px #c2d583;
    position: relative;
}

.error-module-logo{
    width: 15rem;
    margin: 3rem 0 5rem 0;
   
}

.error-module-text{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.error-module-button{
    border: none;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    box-shadow:  34px 34px 68px #808d57, 
             -34px -34px 68px #d2e58d;
    outline: none;
    transition: 300ms;
    position: absolute;
    bottom: 13%;
}
.error-module-button:hover{
    width: 22rem;
    height: 4.2rem;
}
.error-module-button:hover .error-module-button-text{
    font-size: 1.7rem;
}
.error-module-button-text{
    color: #A9B972;
    transition: 300ms
}

@media only screen and (max-width: 1600px){
    .error-module-logo{
        width: 10rem;
    }
}