.user-header-container{
  width: 100%;
  height: 11rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user-header-container::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 65%;
}
.right-user-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
}

.left-user-header{
  display: flex;
  align-items: center;
  padding-left: 7rem;
}
.user-menu-header{
  display: none;
}
@media only screen and (max-width: 1600px){
  .user-header-container{
    height: 9rem;
  }
  .left-user-header{
    padding-left: 5rem;
  }
}
@media only screen and (max-width: 600px){
  .user-header-container{
    width: 100%;
    height: 11rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .user-header-container{
    height: 5rem;
  }
  .left-user-header{
    padding-left: 1rem;
  }
  .right-user-header{
    padding-right: 0rem;
  }
  .user-menu-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    /* border: 1px solid black; */
  }
}