.teacher-loggedin-page{
    display: grid;
    grid-template-columns: 1fr 4fr; 
    background: #FBFDFF;
}

.teacher-container-loggedinPage{
    display: grid;
    /* grid-template-rows: 1fr 4.3fr; */
    grid-template-rows: fit-content(1fr)

}