.loggedInPage{
    display: grid;
    grid-template-columns: 1fr 4.5fr; 
    background: #FBFDFF;
    position: relative;
    overflow-x: hidden ;
}

.main-container-loggedinPage{
    display: grid;
    grid-template-rows: fit-content(1fr)
    /* grid-template-rows: fit-content(1fr) 5fr; */

}




/* MEDIA QUERIES */
@media only screen and (max-width: 600px){
    .loggedInPage{
        height: 100vh;
        width: 100%;
        /* border: 1px solid blue; */
        position: relative;
        /* display: block; */
    }
    .main-container-loggedinPage{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 6rem 1fr;
        /* grid-template-rows: fit-content(1fr); */

    
    }
}