.login-enrollment-page{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 5fr .4fr;
    background: #F8F8FF;
}
.login-enrollment-header{
    grid-row: 1/2;
    /* border: red solid 1px; */
    display: flex;
    align-items: center;
    padding-left: 2rem;

}
.login-enrollment-header-img{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.login-enrollment-text1{
    font-size: .9rem;
    font-family: Merriweather;
}
.login-enrollment-text2{
    font-size: .7rem;
    font-weight: 300;
}

.login-enrollment-code-form{
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid green; */
    width: 90%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8FF;
    box-shadow:  5px 5px 5px #e7e7ed, 
             -5px -5px 5px #ffffff;
    /* transition: 300ms ease; */
}
.login-enrollment-code-img{
    width: 3.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-70%);
    animation: enrollmentQuestionIcon 5s infinite
}
@keyframes enrollmentQuestionIcon{
    0%{
        width: 3.5rem;
    }
    10%{
        width: 4rem;
    }
    20%{
        width: 3.5rem;
    }
}
.login-enrollment-code-img:hover~.login-enrollment-information-div{
    display: block;
}
.login-enrollment-information-div{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-350%);
}
.login-enroll-infoText{
    font-size: .9rem;
}
.login-enrollment-code-input-div{
    display: flex;
    flex-direction: column;
}

.login-enrollment-input{
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background: #F8F8FF;
    box-shadow: inset 4px 4px 8px #d3d3d9, 
    inset -4px -4px 8px #ffffff;
    padding: 0 1.5rem;
    height: 1.5rem;
}

.login-enrollment-code-input{
    height: 1.5rem;
    width: 15rem;
}

.login-enrollment-code-btn{
    color: white;
    background: #A9B972;
    box-shadow:  5px 5px 6px #dadae0, 
                -5px -5px 6px #ffffff;
    border: none;
    border-radius: 1rem;
    width: 8rem;
    height: 2.5rem;
    margin-top: 2rem;
    outline: none;
  }

.login-enrollment-label{
    font-size: .9rem;
}

/* -----------START OF STUDENT FORM--------------- */

.login-enrollment-student-form{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(6, 6rem);
    border: 1px solid red;
    padding: 2rem 2rem 0 2rem;
    opacity: 1;
    transition: 300ms ease;
   
}

.login-enrollment-student-form-row1{
    display: flex;
}
.login-enrollment-student-form-row6{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}



/* INPUT FIELDS */
.login-enrollment-fName{
    width: 10rem;
    margin-right: 1rem;
}
.login-enrollment-idNumber{
    width: 8rem;
}
.login-enrollment-phone{
    width: 15rem;
    background: url(../../assets/phone.svg) 1rem no-repeat;
    background-size: 3rem;
    padding: 0 5rem;
}


.login-enrollment-student-form-btn{
    width: 13rem;
    height: 3rem;
    background: none;
    border: 4px solid #3AB19B;
    border-radius: 2rem;
    color: #3AB19B;
    font-size: 1rem;
}
.login-enrollment-student-form-btn:hover{
    transform: scale(.9);
}
/* -------------END OF STUDENT FORM---------------- */



/* FOOTER */
.enrollment-footer{
      grid-row: 3/4;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      background: #A9B972;
}
.enrollment-footer-text{
      font-size: .7rem;
}




@media only screen and (min-width: 1280px){

    .login-enrollment-header{
        padding-left: 3rem;
    }
    .login-enrollment-header-img{
        width: 6rem;
        height: 6rem;
        margin-right: 1.5rem;
    }
    .login-enrollment-text1{
        font-size: 1.6rem;
    }
    .login-enrollment-text2{
        font-size: 1rem;
    }
    .login-enroll-span{
        font-size: 2rem;
    }
    .login-enrollment-code-form{
        width: 20%;
        height: 35%;
    }
    .login-enrollment-code-img{
        width: 5rem;
    }

    @keyframes enrollmentQuestionIcon{
        0%{
            width: 5rem;
        }
        10%{
            width: 5.5rem;
        }
        20%{
            width: 5rem;
        }
    }

}