.off{
    animation: fadeOut 300ms forwards;
    display: none !important;
}
.on{
    animation: fadeIn 300ms forwards;
}
@keyframes fadeOut{
    0%{
        opacity: 1;
        display: flex;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.confirmation-module{
    width: 95%;
    height: 60%;
    display: grid;
    grid-template-rows:  3rem 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background: #F8F8FF;
    box-shadow:  5px 5px 5px #e7e7ed, 
             -5px -5px 5px #ffffff;
    z-index: 3;
    padding: 0 2rem;
}

.confirmation-module-row{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-rows: repeat(6, 2.3rem);
}
.confirmation-module-innerRow{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: .7fr 2fr;
}
.confirmation-module-col{
    display: flex;
    align-items: center;

}
.confirmation-module-row-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmation-module-header{
    color: #3AB19B;
}
.confirmation-module-text1{
    font-size: .8rem;
    font-weight: 300;
}
.confirmation-module-text-data{
    font-size: .9rem;
    font-weight:600;
}
.confirmation-module-btn-container{
    height: 5rem;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.confirmation-module-adjust-btn,
.confirmation-module-confirm-btn{
    width: 7rem;
    height: 2.3rem;
    border: none;   
    border-radius: 1rem;
    background: none;
}
.confirmation-module-confirm-btn    {
    border: 2px solid #3AB19B;
    /* border-radius: 2rem; */
    color: #3AB19B;
}

.confirmation-module-adjust-btn{
    border: 2px solid rgb(133, 133, 133);
    /* border-radius: 2rem; */
    color: rgb(131, 131, 131);
}